body{
	background-image: url(../image/background.jpg);
	background-color: red;
	background-repeat: no repeat;
	background-size: cover; 
	background-attachment: fixed;
}
.man1{
	position: relative;
	width: 200px;
	height: 600px;
	
	animation: dance 5s alternate infinite ;

}
.man2{
	
	position: relative;
      width:200px ;
      height: 600px;
    
     animation: dance2 6s alternate infinite;
}
.man3{
	position: relative;
	 width:200px ;
      height: 600px;
      animation: dance2 6s alternate infinite;
   
}
@keyframes dance{
      from {top:700px; left:300px; }
      to {top: 200px; left: 500px;}
}
@keyframes dance2{
         from{top: 400px; left: 300px;}
         
      
        to {top: 200px; left: 400px}
	   }